/*Defaults*/
nav,header,footer{
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    background-color: black;
}
/*Navbar*/
nav{
    width: 100%;
    margin: 0;
}
    nav ul {
        background-color: #ffe6ee;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 1px solid black;
    }
ul.topnav li{
    list-style: none;
    float:left;
}
ul li.float-right{
    float: right;
}
ul.topnav li a{
    text-decoration:none;
    display:block;
    min-height:16px;
    text-align:center;
    padding: 14px;
    text-transform: uppercase;
    border-right: 2px solid black;
    color: black;
}
ul.topnav li#right-border a{
    border-left: 2px solid black;
}
ul.topnav li a:hover{
    background-color:black;
    color:white;
}
ul.topnav li.drop-list{
    display: none;
}
/*center paragraphe*/
div.mainP {
    background-color: white;
    border: 2px solid white;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 2px;
}
div.mainP p.p1{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}
div.row{
    display:flex;
    width:100%;
    margin-top: 20px;
}
div.row::after{
    display:block;
    clear:both;
    content:"";
}
.col-1{
    width:8.33%;
}
.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
*{
    box-sizing:border-box;
}
#c1 {
    background-color: #ffff00;
}
#c2 {
    background-color: #00a3cc;
}
#c3 {
    background-color: #c6538c;
}
[class*="col-"]{
    border: 2px double black;
    margin-left: 20px;
}
p.p2{
    font-size: 20px;
    text-align: center;
    top:50%;
    text-transform:uppercase;
}
hr{
    width:90%;
    border: 2px solid white;
}
input[type="text"]{
    display: block;
    width:170px;
    margin-top: 15px;
    border-radius: 6px;
    padding: 2px;

}
input[type="text"]:focus{
    border: 1px solid blue;
}
input[type="button"]{
    margin-top: 15px;
    border-radius: 6px;
    padding: 2px;
}
input[type="button"]:hover{
    cursor: pointer;
}
.formcontainer {
    color: white;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
.formh1s {
    font-size: 3.5vw;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*Mobile*/
@media screen and (max-width: 680px) {
    ul.topnav li{
        display: none;
    }
    ul.topnav li.drop-list{
        display:block;
        float: right;
        border-left: 2px solid black;
   }
    ul.topnav.responsive li.drop-list{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
    }
    ul.topnav.responsive {
        position: relative;
        border: none;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
        border: none;
    }
    ul.topnav.responsive li#right-border a{
        border: none;
    }
    div.mainP p.p1{
        font-size: 30px;
    }
    p.p2{
        font-size: 20px;
        font-weight: 400;
    }
    div.secendrow, div.formrow {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    div[id*="c"]{
        margin-top: 10px;
        width: 100%;
        margin-left:0;
    }


}