/*Defaults*/
nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    background-color: black;
}
/*Navbar*/
nav {
    width: 100%;
    margin: 0;
}

    nav ul {
        background-color: #ffe6ee;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 1px solid black;
    }

ul.topnav li {
    list-style: none;
    float: left;
}

ul li.float-right {
    float: right;
}

ul.topnav li a {
    text-decoration: none;
    display: block;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    border-right: 2px solid black;
    color: black;
}

ul.topnav li#right-border a {
    border-left: 2px solid black;
}

ul.topnav li a:hover {
    background-color: black;
    color: white;
}

ul.topnav li.drop-list {
    display: none;
}
/*Mobile*/
@media screen and (max-width: 680px) {
    ul.topnav li {
        display: none;
    }

        ul.topnav li.drop-list {
            display: block;
            float: right;
            border-left: 2px solid black;
        }

    ul.topnav.responsive li.drop-list {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
    }

    ul.topnav.responsive {
        position: relative;
        border: none;
    }

        ul.topnav.responsive li {
            display: inline;
            float: none;
        }

            ul.topnav.responsive li a {
                display: block;
                text-align: left;
                border: none;
            }

            ul.topnav.responsive li#right-border a {
                border: none;
            }
}